[submodule "analytic-dashboard"]
	path = analytic-dashboard
	url = git@github.com:abuabdirohman4/analytic-dashboard.git
	branch = master
[submodule "server-b2b"]
	path = server-b2b
	url = git@github.com:abuabdirohman4/server-b2b.git
	branch = master